/* Contenedor-rojo */
.container-rojo {
    position: relative;
    width: 100%;
    height: auto;
    background: #EF3B3A;
    border-radius: 24px;
  }
  
  /* Coso-blanco */
  .container-blanco {
    position: relative;
    width: 90%;
    height: auto;
    margin: 50px auto;
    background: #FFFFFF;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  /* contenedorHV-1 */
  .Contenedor-HV {
    position: relative;
    width: 90%;
    height: auto;
    margin: 20px 0;
    background: #EF3B3A;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  /* mini-blanco1 */
  .mini-blanco {
    width: 50%;
    background: #F2F2F2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  /* HV disponibles-postulantes o lo que SEA */
  h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 68px;
    text-align: center;
    color: #404040;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* nombre-ubicacion-1 */
  .Encabezadín-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #404040;
  }
  
  /* Archivazo-1 */
  .archivoHV-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
  }
  
  /* contenedorHV-2 */
  .Contenedor-HV-2 {
    position: relative;
    width: 90%;
    height: auto;
    margin: 20px 0;
    background: #EF3B3A;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  /* mini-blanco2 */
  .mini-blanco-2 {
    width: 50%;
    background: #F2F2F2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  /* nombre-ubicacion-2 */
  .Encabezadín-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #404040;
  }
  
  /* Archivazo-2 */
  .archivoHV-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
  }
  