body {
  background: #F2F2F2;
  margin: 0;
  padding: 0;
}

/* Encabezado */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #EF3B3A;
  z-index: 100; /* Asegura que el encabezado esté por encima del contenido */
}

#container {
  padding-top: 60px; /* Añade un espacio para el encabezado */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Div blanco */
.Blancou {
  width: 653.08px;
  height: 659px;
  background: #FFFFFF;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Boton 1 */
.BOTONAZO {
  width: 233px;
  height: 272px;
  background: #EF3B3A;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Boton 2 */
.BOTONAZO2 {
  width: 233px;
  height: 272px;
  background: #EF3B3A;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cv 1 */
.imagen1 {
  width: 156px;
  height: 156px;
}

/* subirVacante */
.imagen2 {
  width: 163px;
  height: 163px;
}

/* Imagen trol */
.imTroll {
  width: 492px;
  height: 492px;
}

/* ¿Qué quieres hacer? */
h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: #404040;
  margin-top: 20px;
}
