.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 100px auto 0;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
}

.form .thumbnail {
  background: #EF3B3A;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 25px 30px;
  border-radius: 100px;
  box-sizing: border-box;
}

.form .thumbnail img {
  display: block;
  width: 100%;
}

#container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

#container:before,
#container:after {
  content: "";
  display: block;
  clear: both;
}

