/* Estilos generales */
body {
  background: #F2F2F2;
  margin: 0;
  padding: 0;
}

/* Div blanco */
.Blancou {
  position: relative;
  width: 653.08px;
  height: 659px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: calc(70vh - -62.5px);
}

/* ¿Qué quieres hacer? */
h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
  color: #404040;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Botones */
.botones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Boton 1 */
.BOTONAZO {
  width: 233px;
  height: 272px;
  background: #EF3B3A;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Boton 2 */
.BOTONAZO2 {
  width: 233px;
  height: 272px;
  background: #EF3B3A;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cv 1 */
.imagen1 {
  width: 156px;
  height: 156px;
}

/* subirVacante */
.imagen2 {
  width: 163px;
  height: 163px;
}

/* Imagen trol */
.imTroll {
  position: relative;
  width: 492px;
  height: 492px;
  left: -9px;
  top: 601px;
}
